//- Le mot clé `extends` permet d'étendre un layout
extends ./layout/layout
//- le mot clé block, à l'intérieur d'un fichier qui `extends` un layout
    permet de se placer à l'intérieur de ce block
block styles
    link(rel='stylesheet' href='/bootstrap')

block content
    div
        each student in students
          - const {name, notes} = student
            div
                span= name
                span= notes.join(', ')
        a(href="/") Home
    //- la notation p. signifie que la balise va recevoir du texte sur plusieurs lignes.
    p.
        etero morbi consul commune donec recteque mollis omittam scelerisque ridens maluisset dolorem tractatos eros
        facilisi posse ubique vel mattis legere pertinax lorem errem senserit equidem nibh eleifend ceteros platea tempor quaeque quod posuere salutatus postulant graeco pro quidam ultricies vix in definiebas graece definiebas scelerisque lectus alterum necessitatibus vocibus deserunt inimicus epicurei deseruisse utamur constituto auctor aliquid voluptaria reque iriure atomorum ornatus nullam inimicus

block clientScript
    //- Ce script sera executé côté client
    script.
        const targetEl = document.querySelector('#target')
        targetEl.innerHTML = "jkldfvjklsffkl"